<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}


.about-section {
  padding: 200px;
  text-align:right;
  background-image:url('https://www.clipartkey.com/mpngs/m/145-1450081_flask-python-logo.png');
  min-height:100%;
    background-position:left;
    background-size:cover;
  color:rgb(12, 11, 11);
}
.fontfamily {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: inherit;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1 class="w3-animate-fading"><b>NALAIYATHIRAN</b> </h1>
  <div class="fontfamily">
  <p class="w3-animate-fading ">PROJECT: <b>PLASMA DONOR APPLICATION</b></p>
  <p class="w3-animate-fading">TEAM MEMBERS: 4</p>
  <p class="w3-animate-fading">TEAM LEAD: Abhishek Narayan </p>
  <p class="w3-animate-fading">TEAM MEMBER 1: Varun Vinod </p>
  <p class="w3-animate-fading">TEAM MEMBER 2: Thushita Mariaselvan </p>
  <p class="w3-animate-fading">TEAM MEMBER 3: Srivishnu  </p>
  </div>
</div>
  

</body>
</html>