<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <script>
        function otp(){
            document.getElementById("otp").style.display='block';
            document.getElementById("pass").style.display='none';
        }
    </script>
</head>

<body>
    <div class="header">
        <h1>VAST</h1>
    </div><br>
    <div class="signup">
        <form action="{{ url_for('hospitallogin') }}" method="POST">
            <!-- {{msg}} -->
            <input type="text" id="uid" name="uid" placeholder="uid" required>
            <input id="pass" type="password" placeholder="Enter Password" name="pass" required />
            <!-- <input style="display:none" id="otp" type="number" placeholder="Enter OTP" name="otp" required /> -->
            <button id ="submit" type="submit">Log in</button>
            <!-- <button onclick="otp();" id="login">Log in via OTP</button>
            <a href="/register">
            <button id="signuip">Sign up</button></a> -->
        </form>
    </div>
</body>

</html>